<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>敖武的实验室 vue3</title>
</head>
<script src="https://z.wiki/autoupload/20230826/lqLl.vue%403.3.4_dist_vue.global.js"></script>
<body>
  <h1 id="app" style="color: red;">{{ message }}</h1>

  <script>
    const { createApp, ref } = Vue

    createApp({
      setup() {
        const message = ref('Hello vue3!')
        return {
          message
        }
      }
    }).mount('#app')
  </script>
</body>
</html>
